@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>I am an online student</p>
<p>I am studying in Brigham Young University - Idaho</p>
<p>This a simple agenda for use in School Sunday Class.</p>< /br>
<p>When can type the class name, class date, hymn name, and first and last prayer.</p>
