@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    231 Paulo Macarini<br />
    Curitiba, Paraná<br />
    Brazil 82630-572<br />
    <abbr title="Phone">Phone:</abbr>
    55 41 3257.8824
</address>

<address>
    <strong>Support:</strong> <a href="mailto:edvaldomelo@byui.edu">edvaldomelo@byui.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:familiamelo@gmail.com">familiamelo@gmail.com</a>
</address>
